h2 case

- var friends = 5
case friends
  when 0
    p You have no friend.
  when 1
    p You have 1 friend.
  default
    p You have #{friends} friends.

- var apples = 0
case apples
  when 0
  when 1
  when 2
    p You have very few apples.
  default
    p You have #{apples} apples.

- var pens = 1
case pens
  when 0: p You have no pen.
  when 1: p You have 1 pen.
  default: p You have #{pens} pens.
